:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#canvas{
  border: 2px solid green;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.inputs{
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 2rem;
  margin-left: 9rem;
}

.inputs input{
  border: 2px solid green;
  border-radius:  5px;
  background-color: #242424;
  margin-right: 2rem;
  margin-left: 0.5rem;
}